{
  "openapi": "3.0.1",
  "info": {
    "title": "Public API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.sandbox.keyrails.com",
      "description": "Sandbox Environment"
    }
  ],
  "paths": {
    "/api/v1/accounts": {
      "post": {
        "tags": ["Accounts"],
        "summary": "Create new account for tenant or client.",
        "requestBody": {
          "description": "PublicApiCreateAccountRequestModel",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicApiCreateAccountRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicApiCreateAccountRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicApiCreateAccountRequestModel"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Account created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiAccountResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "User with such auth identifier was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Account with banking partner already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Accounts"],
        "summary": "Retrieve accounts list.",
        "parameters": [
          {
            "name": "bankingPartner",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/BankingPartner"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "One-based page number",
            "schema": {
              "type": "integer",
              "description": "One-based page number",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size",
            "schema": {
              "type": "integer",
              "description": "Page size",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "account agreement",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiAccountResponseModelPageResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "User with such auth identifier was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/{id}": {
      "get": {
        "tags": ["Accounts"],
        "summary": "Retrieve the account by identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "account balances",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiAccountResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "account is not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "User with such auth identifier was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/{id}/balances": {
      "get": {
        "tags": ["Accounts"],
        "summary": "Retrieve balances for the account.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "account balances",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiAccountBalanceResponseModelCollectionResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "account is not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "User with such auth identifier was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/{id}/sandbox/mixed-flow/start-wire-onramp": {
      "post": {
        "tags": ["Accounts"],
        "summary": "Create a wire onramp simulation on sandbox environments to Tenant's Account",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the account where to start simulation.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulateWireOnrampRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulateWireOnrampRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SimulateWireOnrampRequestModel"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Wire simulation was successfully created."
          },
          "400": {
            "description": "Request data is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Requested resources were not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clients/{id}/sandbox/mixed-flow/start-wire-onramp": {
      "post": {
        "tags": ["Accounts"],
        "summary": "Create a wire onramp simulation on sandbox environments.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the client where to start simulation.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulateWireOnrampRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulateWireOnrampRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SimulateWireOnrampRequestModel"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Wire simulation was successfully created."
          },
          "400": {
            "description": "Request data is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Requested resources were not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/{id}/sandbox/start-incoming-wire": {
      "post": {
        "tags": ["Accounts"],
        "summary": "Create an incoming wire simulation on sandbox environments.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the account where to start simulation.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulateWireRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulateWireRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SimulateWireRequestModel"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Wire simulation was successfully created."
          },
          "400": {
            "description": "Request data is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Requested resources were not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/{id}/sandbox/start-incoming-wire-2": {
      "post": {
        "tags": ["Accounts"],
        "summary": "Create an incoming wire simulation on sandbox environments.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the account where to start simulation.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulateWireRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulateWireRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SimulateWireRequestModel"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Wire simulation was successfully created."
          },
          "400": {
            "description": "Request data is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Requested resources were not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/{id}/sandbox/start-incoming-crypto": {
      "post": {
        "tags": ["Accounts"],
        "summary": "Create an incoming crypto simulation on sandbox environments.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the account where to start simulation.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulateIncomingCryptoRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulateIncomingCryptoRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SimulateIncomingCryptoRequestModel"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Crypto simulation was successfully created."
          },
          "400": {
            "description": "Request data is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Requested resources were not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/{id}/sandbox/mixed-flow/start-incoming-ach": {
      "post": {
        "tags": ["Accounts"],
        "summary": "Create an incoming ach simulation on sandbox environments.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the account where to start simulation.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulateIncomingAchModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulateIncomingAchModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SimulateIncomingAchModel"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Incoming ACH simulation was successfully created."
          },
          "400": {
            "description": "Request data is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Requested resources were not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clients/{id}/sandbox/mixed-flow/start-on-ramp-ach": {
      "post": {
        "tags": ["Accounts"],
        "summary": "Create an incoming ach simulation with mocks enabled on test environments.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the client where to start simulation.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulateIncomingAchModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulateIncomingAchModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SimulateIncomingAchModel"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Incoming ACH simulation was successfully created."
          },
          "400": {
            "description": "Request data is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Requested resources were not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/{id}/deposit-instruction": {
      "get": {
        "tags": ["Accounts"],
        "summary": "Retrieve deposit instruction for the account",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deposit instruction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiAccountDepositInstructionResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "User with such auth identifier was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Account is not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/{id}/onramp-instruction": {
      "get": {
        "tags": ["Accounts"],
        "summary": "Retrieve on-ramp instruction for the account",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "On-ramp instruction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiOnrampInstructionResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "User with such auth identifier was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Account is not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/{id}/crypto-deposit-instruction/{network}/{assetFiatType}": {
      "get": {
        "tags": ["Accounts"],
        "summary": "Retrieve a crypto deposit instruction for the account",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "network",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/NetworkChain"
            }
          },
          {
            "name": "assetFiatType",
            "in": "path",
            "description": "Currencies allowed to operate with",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/CurrencyToOperate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Crypto Deposit instruction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiAccountCryptoDepositInstructionResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Request data is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "User with such auth identifier was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Account is not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/{id}/payment-documents": {
      "post": {
        "tags": ["Accounts"],
        "summary": "Upload payment documents for the account.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "PaymentDocuments": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  }
                }
              },
              "encoding": {
                "PaymentDocuments": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiPaymentDocumentResponsePageResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Accounts"],
        "summary": "Retrieve payment documents for the account.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiPaymentDocumentResponsePageResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/{id}/virtual-account": {
      "put": {
        "tags": ["Accounts"],
        "summary": "Update an existing virtual account for the account.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTenantVirtualAccountPublicApiRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTenantVirtualAccountPublicApiRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTenantVirtualAccountPublicApiRequestModel"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/beneficial-owners": {
      "post": {
        "tags": ["BeneficialOwners"],
        "summary": "Create beneficial owner",
        "requestBody": {
          "description": "CreateBeneficialOwnerPublicApiRequestModel",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBeneficialOwnerPublicApiRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBeneficialOwnerPublicApiRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBeneficialOwnerPublicApiRequestModel"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeneficialOwnerPublicApiResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["BeneficialOwners"],
        "summary": "Get all beneficial owners",
        "parameters": [
          {
            "name": "ClientId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "One-based page number",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeneficialOwnerPublicApiResponseModelPageResponseModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/beneficial-owners/{id}": {
      "get": {
        "tags": ["BeneficialOwners"],
        "summary": "Get a single beneficial owner",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Beneficial owner identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeneficialOwnerPublicApiResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["BeneficialOwners"],
        "summary": "Update the beneficial owner",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Beneficial owner identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "UpdateBeneficialOwnerPublicApiRequestModel",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBeneficialOwnerPublicApiRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBeneficialOwnerPublicApiRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBeneficialOwnerPublicApiRequestModel"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeneficialOwnerPublicApiResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clients/individual": {
      "post": {
        "tags": ["Clients"],
        "summary": "Create new individual client.",
        "requestBody": {
          "description": "CreateIndividualClientPublicApiRequestModel",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIndividualClientPublicApiRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIndividualClientPublicApiRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIndividualClientPublicApiRequestModel"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndividualClientPublicApiResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clients/{id}/individual": {
      "get": {
        "tags": ["Clients"],
        "summary": "Get an individual client by identifier",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndividualClientPublicApiResponseModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Clients"],
        "summary": "Update individual client.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateIndividualClientPublicApiRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateIndividualClientPublicApiRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateIndividualClientPublicApiRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndividualClientPublicApiResponseModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clients/business": {
      "post": {
        "tags": ["Clients"],
        "summary": "Create new business client.",
        "requestBody": {
          "description": "CreateBusinessClientRequestModel",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBusinessClientPublicApiRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBusinessClientPublicApiRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBusinessClientPublicApiRequestModel"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessClientPublicApiResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clients/{id}/business": {
      "patch": {
        "tags": ["Clients"],
        "summary": "Updates business client.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the client",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "CreateBusinessClientRequestModel",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBusinessClientPublicApiRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBusinessClientPublicApiRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBusinessClientPublicApiRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessClientPublicApiResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Clients"],
        "summary": "Get a business client by identifier",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessClientPublicApiResponseModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clients": {
      "get": {
        "tags": ["Clients"],
        "summary": "Get all clients",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "One-based page number",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalOrBusinessClientPublicApiResponseModelPageResponseModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clients/{id}/terms-of-service": {
      "post": {
        "tags": ["Clients"],
        "summary": "Returns a link to terms of service.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID represents Client ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "forceAccept",
            "in": "query",
            "description": "Optional. False by default",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TermsOfServicePublicApiResponseModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/current-tenant": {
      "get": {
        "tags": ["CurrentTenant"],
        "summary": "Get current tenant",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantPublicApiResponseModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/current-tenant/webhook-config": {
      "get": {
        "tags": ["CurrentTenant"],
        "summary": "Get webhooks configuration",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookConfigResponseModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["CurrentTenant"],
        "summary": "Update webhooks configuration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookConfigPatchModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookConfigPatchModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookConfigPatchModel"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/current-tenant/balances": {
      "get": {
        "tags": ["CurrentTenant"],
        "summary": "Get balances",
        "responses": {
          "200": {
            "description": "Tenant balances",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiTenantBalanceModelCollectionResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "API key is invalid or not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/current-tenant/crypto-instruction/{network}/{asset}": {
      "get": {
        "tags": ["CurrentTenant"],
        "summary": "Get crypto deposit instructions",
        "parameters": [
          {
            "name": "network",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BalanceNetworkModel"
            }
          },
          {
            "name": "asset",
            "in": "path",
            "description": "Currencies allowed to operate with",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BalanceCurrencyModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Crypto deposit instruction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiTenantCryptoDepositInstructionModel"
                }
              }
            }
          },
          "400": {
            "description": "Request data is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "API key is invalid or not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clients/{id}/business-documents": {
      "post": {
        "tags": ["Documents"],
        "summary": "Upload business documents for the client.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": ["OwnershipDocument", "ProofOfCompanyFormation", "StatementOfFunds"],
                "type": "object",
                "properties": {
                  "StatementOfFunds": {
                    "type": "string",
                    "description": "- Max size: 10.4 mb\r\n- Filename should only contain ASCII chars\r\n- Allowed extensions: .JPEG, .JPG, .PNG, .HEIC",
                    "format": "binary"
                  },
                  "OwnershipDocument": {
                    "type": "string",
                    "description": "- Max size: 10.4 mb\r\n- Filename should only contain ASCII chars\r\n- Allowed extensions: .JPEG, .JPG, .PNG, .HEIC",
                    "format": "binary"
                  },
                  "ProofOfCompanyFormation": {
                    "type": "string",
                    "description": "- Max size: 10.4 mb\r\n- Filename should only contain ASCII chars\r\n- Allowed extensions: .JPEG, .JPG, .PNG, .HEIC",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "StatementOfFunds": {
                  "style": "form"
                },
                "OwnershipDocument": {
                  "style": "form"
                },
                "ProofOfCompanyFormation": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentPublicApiResponseModelPageResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clients/{id}/individual-documents": {
      "post": {
        "tags": ["Documents"],
        "summary": "Upload individual documents for the client.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": ["GovIdCountry", "GovIdImageFront", "ProofOfAddress"],
                "type": "object",
                "properties": {
                  "ProofOfAddress": {
                    "type": "string",
                    "description": "Max size: 10.4 mb\r\nFilename should only contain ASCII chars\r\nAllowed extensions: .JPEG, .JPG, .PNG, .HEIC",
                    "format": "binary"
                  },
                  "GovIdImageFront": {
                    "type": "string",
                    "description": "Max size: 10.4 mb\r\nFilename should only contain ASCII chars\r\nAllowed extensions: .JPEG, .JPG, .PNG, .HEIC",
                    "format": "binary"
                  },
                  "GovIdImageBack": {
                    "type": "string",
                    "description": "Max size: 10.4 mb\r\nFilename should only contain ASCII chars\r\nAllowed extensions: .JPEG, .JPG, .PNG, .HEIC",
                    "format": "binary"
                  },
                  "GovIdCountry": {
                    "type": "string",
                    "description": "ISO 3166-1 ALPHA-2 country code"
                  }
                }
              },
              "encoding": {
                "ProofOfAddress": {
                  "style": "form"
                },
                "GovIdImageFront": {
                  "style": "form"
                },
                "GovIdImageBack": {
                  "style": "form"
                },
                "GovIdCountry": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentPublicApiResponseModelPageResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clients/{id}/additional-documents": {
      "post": {
        "tags": ["Documents"],
        "summary": "Upload Proof Of Address documents for the personal client.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": ["Document"],
                "type": "object",
                "properties": {
                  "Document": {
                    "type": "string",
                    "description": "Additional documents to upload",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "Document": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdditionalDocumentPublicApiResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/beneficial-owners/{id}/additional-documents": {
      "post": {
        "tags": ["Documents"],
        "summary": "Upload additional documents for the beneficial owner.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": ["Document"],
                "type": "object",
                "properties": {
                  "Document": {
                    "type": "string",
                    "description": "Additional documents to upload",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "Document": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdditionalDocumentPublicApiResponseModel"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/beneficial-owners/{id}/documents": {
      "post": {
        "tags": ["Documents"],
        "summary": "Upload documents for beneficial owners.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": ["GovIdImageFront", "ProofOfAddress"],
                "type": "object",
                "properties": {
                  "ProofOfAddress": {
                    "type": "string",
                    "description": "- Max size: 10.4 mb\r\n- Filename should only contain ASCII chars\r\n- Allowed extensions: .JPEG, .JPG, .PNG, .HEIC",
                    "format": "binary"
                  },
                  "GovIdImageFront": {
                    "type": "string",
                    "description": "- Max size: 10.4 mb\r\n- Filename should only contain ASCII chars\r\n- Allowed extensions: .JPEG, .JPG, .PNG, .HEIC",
                    "format": "binary"
                  },
                  "GovIdImageBack": {
                    "type": "string",
                    "description": "- Max size: 10.4 mb\r\n- Filename should only contain ASCII chars\r\n- Allowed extensions: .JPEG, .JPG, .PNG, .HEIC",
                    "format": "binary"
                  },
                  "GovIdCountry": {
                    "type": "string",
                    "description": "ISO 3166-1 ALPHA-2 country code"
                  }
                }
              },
              "encoding": {
                "ProofOfAddress": {
                  "style": "form"
                },
                "GovIdImageFront": {
                  "style": "form"
                },
                "GovIdImageBack": {
                  "style": "form"
                },
                "GovIdCountry": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentPublicApiResponseModelPageResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/exchange-rates": {
      "get": {
        "tags": ["ExchangeRates"],
        "summary": "Get exchange rates",
        "responses": {
          "200": {
            "description": "Exchange rates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExchangeRatePublicResponseModelCollectionResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "API key is invalid or not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/external-accounts": {
      "post": {
        "tags": ["ExternalAccounts"],
        "summary": "Create external account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicApiCreateWireAccountRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicApiCreateWireAccountRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicApiCreateWireAccountRequestModel"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created external account model.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiExternalAccountResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Request data is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Requested resources were not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["ExternalAccounts"],
        "summary": "Get all external accounts",
        "parameters": [
          {
            "name": "Level",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/AccountLevel"
            }
          },
          {
            "name": "ClientId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid",
              "nullable": true
            }
          },
          {
            "name": "Type",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ExternalAccountTypeFilter"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "One-based page number",
            "schema": {
              "type": "integer",
              "description": "One-based page number",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size",
            "schema": {
              "type": "integer",
              "description": "Page size",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "External accounts successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiExternalAccountResponseModelPageResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Request data is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Requested resources were not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/external-accounts/global-connect": {
      "post": {
        "tags": ["ExternalAccounts"],
        "summary": "Create GlobalConnect external account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicApiGlobalConnectExternalAccountRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicApiGlobalConnectExternalAccountRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicApiGlobalConnectExternalAccountRequestModel"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created external account model.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiExternalAccountResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Request data is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Requested resources were not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/external-accounts/international-wire": {
      "post": {
        "tags": ["ExternalAccounts"],
        "summary": "Create international wire external account for requested tenant or client.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicApiCreateInternationalWireAccountRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicApiCreateInternationalWireAccountRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicApiCreateInternationalWireAccountRequestModel"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created international wire external account model.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiExternalAccountResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Request data is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Requested resources were not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/external-accounts/{id}": {
      "get": {
        "tags": ["ExternalAccounts"],
        "summary": "Get a single external account",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "External account successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiExternalAccountResponseModel"
                }
              }
            }
          },
          "404": {
            "description": "Requested resources were not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/external-address-virtual-accounts": {
      "post": {
        "tags": ["ExternalAddressVirtualAccounts"],
        "summary": "Create a new external address virtual account for client",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClientExternalAddressVirtualAccountPublicApiRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClientExternalAddressVirtualAccountPublicApiRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClientExternalAddressVirtualAccountPublicApiRequestModel"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "API key is invalid or not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "201": {
            "description": "External address virtual account created"
          }
        }
      },
      "put": {
        "tags": ["ExternalAddressVirtualAccounts"],
        "summary": "Update an existing external address virtual account for client",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateClientExternalVirtualAccountPublicApiRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateClientExternalVirtualAccountPublicApiRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateClientExternalVirtualAccountPublicApiRequestModel"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "API key is invalid or not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "201": {
            "description": "Account created"
          }
        }
      }
    },
    "/api/v1/lists/countries": {
      "get": {
        "tags": ["Lists"],
        "summary": "Get list of countries",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BridgeCountriesDataModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/payments/crypto-to-fiat-usd": {
      "post": {
        "tags": ["Payments"],
        "summary": "Create Virtual Account Payment",
        "description": "If an external account linked to client is passed to `externalAccountId` the payment will be executed on client's behalf",
        "requestBody": {
          "description": "Create crypto to fiat payment request model.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicApiCreateCryptoToFiatPaymentRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicApiCreateCryptoToFiatPaymentRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicApiCreateCryptoToFiatPaymentRequestModel"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created payment model.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiPaymentResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Request data is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "User with such auth identifier was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Requested resources were not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/payments/global-connect": {
      "post": {
        "tags": ["Payments"],
        "summary": "Create GlobalConnect payment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicApiCreateGlobalConnectPaymentRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicApiCreateGlobalConnectPaymentRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicApiCreateGlobalConnectPaymentRequestModel"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created payment model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiPaymentResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Request data is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "API key is invalid or not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Requested resources were not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/payments": {
      "get": {
        "tags": ["Payments"],
        "summary": "Get all payments",
        "parameters": [
          {
            "name": "ClientId",
            "in": "query",
            "description": "Optional filter",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "AccountId",
            "in": "query",
            "description": "Optional filter",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "One-based page number",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response with payments page.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiPaymentResponseModelPageResponseModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/payments/{id}": {
      "get": {
        "tags": ["Payments"],
        "summary": "Get a single payment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The payment identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment response model.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiPaymentResponseModel"
                }
              }
            }
          },
          "401": {
            "description": "User with such auth identifier was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Payment was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/payments/quote/deposit": {
      "post": {
        "tags": ["Payments"],
        "summary": "Calculate Virtual Account Deposit Quote",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DepositQuoteRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DepositQuoteRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DepositQuoteRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quote public api response model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuotePublicApiResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Request data is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "API key is invalid or not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Requested resources were not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/payments/global-connect/quote": {
      "post": {
        "tags": ["Payments"],
        "summary": "Calculate GlobalConnect payment quote",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GlobalConnectPaymentQuoteRequestModelPublicApi"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GlobalConnectPaymentQuoteRequestModelPublicApi"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GlobalConnectPaymentQuoteRequestModelPublicApi"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quote public api response model.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GlobalConnectQuotePublicApiResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Request data is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "API key is invalid or not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Requested resources were not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/payments/crypto-to-fiat/wire/quote": {
      "post": {
        "tags": ["Payments"],
        "summary": "Calculate Virtual Account Wire Withdrawal Quote",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicApiCryptoToFiatQuoteRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicApiCryptoToFiatQuoteRequestModel"
              }
[...]
